POSTGRES_USER=postgres
POSTGRES_PASSWORD=monolito
POSTGRES_DB=ecommerce_db
POSTGRES_PORT=5432

BACKEND_PORT=3000
FRONTEND_PORT=8080
JWT_SECRET=tu-secreto-cambiar

VITE_API_URL=http://localhost:3000
ASSETS_BASE_URL=
VITE_APP_NAME=RetailPyme Store
